.bg-image {
    background: url('../assets/bg top.png');
    background-repeat: no-repeat;
    min-height: 300px;
    background-size: cover;
}
.welcome-text {
    color:black;
}
.bg-image2 {
    background: url('../assets/slider.png');
    background-repeat: no-repeat;
    min-height: 200px;
    background-size: cover;
}
.section {
    color: white;
}
/*.col {
    border: 1px solid black;
}*/